<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Title web -->
    <title>Catataxo</title>
  

    <!-- Scroll reveals js -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    {% load static %}

    <!-- Custom CSS -->
    <link href="{% static 'core/css/core.css' %}" rel="stylesheet">
  </head>
  <body>

    <section class="container-fluid slider d-flex justify-content-center align-items-center">
        <h1 class="display-1 text-warning font-weight-bold">Recetas</h1>
    </section>
    <section class="container">
        <p class="mt-5 text-center text-uppercase font-italic font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, facere.</p>
        <p class="w-25 mr-5 text-justify bg-primary float-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam perspiciatis sunt mollitia, ea, iste perferendis aliquam earum reprehenderit illo incidunt a possimus laudantium nemo animi error placeat, et consectetur?</p>
        <p class="text-justify ml-5 bg-warning">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis neque unde odio, id quas vero commodi provident obcaecati ratione reprehenderit deleniti, non beatae facere sapiente doloremque nesciunt architecto ab perspiciatis.
        Quas inventore dignissimos iste, veritatis aliquam autem aliquid quidem magni, labore nemo cupiditate quaerat provident. Possimus nesciunt tempore quam sint similique libero reiciendis corrupti ipsa eligendi quis officia, sunt mollitia.
        Aut tenetur vel aspernatur sunt et a asperiores fugiat, in, officia pariatur, quisquam adipisci ipsum impedit iusto doloremque provident perspiciatis? Magnam cum dignissimos numquam ratione, deleniti fugiat quo nemo totam?
        Placeat, laboriosam at cumque reiciendis corporis assumenda nostrum magnam nisi quisquam vero soluta voluptatem recusandae accusantium quae corrupti deleniti aliquid pariatur ut consequuntur! Pariatur itaque, suscipit fugit aliquid ratione magnam?
        Quam, harum quos? Amet perspiciatis totam sit quas est quidem reiciendis. Alias suscipit unde ipsa minima atque ad velit voluptatum! Fuga hic doloremque error ducimus accusamus modi laboriosam ipsam quis!
        Obcaecati expedita repudiandae vero dolor id iure aliquam recusandae, aut reprehenderit sunt cupiditate, cum exercitationem voluptatem numquam, quod fugit culpa? Cum debitis quam voluptatum fuga incidunt iure consequatur, labore distinctio?
        Omnis placeat dolorum animi, provident minima dolore laudantium nam necessitatibus sint suscipit adipisci eum. Ratione est, ullam laboriosam incidunt aliquam voluptas dolorem deleniti corrupti sapiente vitae nisi, aspernatur, nihil eaque.
        Nesciunt corrupti doloribus deserunt reprehenderit quisquam iste possimus eius excepturi neque itaque dolore veniam commodi, ad, perspiciatis animi perferendis? Totam ut labore eaque error vitae provident nihil aut ipsum aperiam?
        Dolorem, illo. Rerum architecto ut minus quidem! At, dicta? Non eveniet ab ipsa odit animi velit labore aut accusantium a, provident error sapiente, quis cumque deleniti earum alias odio consectetur.
        Officiis, laudantium illum? Repellendus quia voluptates, commodi quibusdam earum similique sapiente beatae accusamus inventore mollitia? Distinctio eaque impedit asperiores, ipsam, velit sequi dolorum deserunt a in sunt, animi sint minima!</p>
    </section>








<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>